<div ng-include="'partials/navbar.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12"><h1>{{title}}</h1></div>
    </div>
    <div class="row">
        <div class="col-sm-8 form-group"><input type="text" class="form-control" id="user_name" placeholder="What's your name?"></div>
        <div class="col-sm-4 form-group"><input type="text" class="form-control" id="user_id" placeholder="What's your age?"></div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="user_height" placeholder="What's your height?">
                <span class="input-group-addon">cm</span>
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="user_weight" placeholder="What's your weight?">
                <span class="input-group-addon">kg</span>
            </div>
        </div>
    </div>
</div>
