<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <p class="lead">
    <img class="image-responsive" src="images/TBL.jpg" alt="Sweet Dreams..."><br>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Welcome!</a></p>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <div class="col-md-3">
        <div class="middle">
          <img height="80" align="middle" ng-src="images/{{thing.logo}}" />
        </div>
      </div>
      <div class="col-md-9"><h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
      </div>
  </div>
</div>

<div class="footer">
  <p>♥ <a href="http://www.thebedroomlaboratory.com">The Bedroom Laboratory</a> team</p>
</div>
